[submodule "Regression"]
	path = Regression
	url = https://github.com/ToBigs1617-TS/Regression.git
[submodule "Classification"]
	path = Classification
	url = https://github.com/ToBigs1617-TS/Classification.git
[submodule "WebServing"]
	path = WebServing
	url = https://github.com/ToBigs1617-TS/WebServing.git
